/* Body */
body {
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Left Section */
.left {
  width: 450px;
  margin-top: 70px;
  display: inline-block;
}

/* Facebook Logo */
.logo {
  width: 300px;
  margin-bottom: 10px;
}

/* Right Section Form */
.right form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
}

/* Inputs */
input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

/* Login Button */
form button {
  background-color: #1877f2;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  border: none;
  width: 100%;
}

/* Link */
a {
  color: #1877f2;
  text-decoration: none;
  text-align: center;
}

/* Signup Button */
.signup {
  background-color: #42b72a;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}
